# SUPABASE - Project: vels-bookstore 
NEXT_PUBLIC_SUPABASE_URL=https://ivqlvwhxbarkdnrxlhhpi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2cWx2eWhxYmFya3ducmxvbHhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwOTMyNTEsImV4cCI6MjEwMzY2OTI1MX0.LCglMyy5uIaJdVkhfaOf8RqTsxyOMins0IudlNNaCs8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2cWx2eWhxYmFya3ducmxvbHhpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODA5MzI1MSwiZXhwIjoyMTAzNjY5MjUxfQ.FZb7xODZZZ9LiXTw-LQlQ8hie_57cFSRqbDX0wJxluE

# PUBLISHABLE KEY (for new Supabase SDK)
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_fBnokhflJVFT4IOTRRigiQ_9SieV81s

# CLOUDINARY - 25GB FREE NO CARD
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=bo6e8eui
CLOUDINARY_CLOUD_NAME=bo6e8eui
CLOUDINARY_API_KEY=168385686138545
CLOUDINARY_API_SECRET=ZyywvyLXHEnkZyyU7gwMam1_DkU


# RAZORPAY - Test Mode (We will get next)
RAZORPAY_KEY_ID=rzp_test_TW2meIzFqg0dj3
RAZORPAY_KEY_SECRET=wTKvUYTFyZ12SBeja8PMJ6W2
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TW2meIzFqg0dj3
